FILE_ASSET_POSTGRES_DB=file_asset
FILE_ASSET_POSTGRES_USER=file_asset
FILE_ASSET_POSTGRES_PASSWORD=change-me-strong-password
FILE_ASSET_POSTGRES_BIND=0.0.0.0:15432

FILE_ASSET_MINIO_ROOT_USER=admin
FILE_ASSET_MINIO_ROOT_PASSWORD=change-me-strong-minio-password
FILE_ASSET_MINIO_API_BIND=0.0.0.0:9000
FILE_ASSET_MINIO_CONSOLE_BIND=0.0.0.0:19001
